<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find someone to game with!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <base href="/">
  </head>
  <body ng-app="app" ng-controller="GamersCtrl as ctrl">    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <header id="site-header">
            <div class="container">
              <form name="addmyname" method="POST" ng-submit="ctrl.add()" class="form-inline">
                I'm looking for someone to game with
                <input type="text" name="gamertag" placeholder="gamertag" ng-model="ctrl.gamerTag" class="form-control">          
                <button type="submit" id="add-tag" class="btn btn-default">Add Me</button>
              </form>
            </div>
          </header>
        </div>
      </div>      
      <div class="row">
        <div class="col-md-3">
          stuff
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4" ng-repeat="gamer in ctrl.gamers">
              <div class="xb-profile">
                <header>
                  <img ng-src="{{gamer.xboxdata.avatar.small}}" alt="gamer profile">
                  <div class="xb-labels">
                    <div class="xb-label xb-highlight">{{gamer.gamerTag}}</div>
                    <div class="xb-label"><em>{{gamer.xboxdata.location}}</em></div>
                  </div>
                </header>
                <hr/>
                <section>
                  <span class="xb-label">Rep</span>
                  <div class="xb-value"><span ng-repeat="val in [4, 8, 12, 16, 20]" class="glyphicon"
                    ng-class="{'glyphicon-star': gamer.xboxdata.reputation >= val,
                    'glyphicon-star-empty': gamer.xboxdata.reputation < val}"></span>
                  </div>
                </section>
                <hr/>
                <section>
                  <span class="xb-label">Gamerscore</span>
                  <span class="xb-value">{{gamer.xboxdata.gamerscore}}</span>
                </section>
                <hr/>
                Battlefield 4, Bioshock, Call of Duty: Ghosts, Gears of War 3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end container -->
    <script src="js/app.js"></script>
  </body>
</html>